body {
    padding: 0;
    margin: 0;
    background-color: #000000;
}

header {
    height: 10vh;
    text-align: center;
    color: yellow;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 5px;
    margin-top: 3rem;
}

main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start {
    text-decoration: none;
    color: rgb(255, 115, 0);
    font-family: 'Press Start 2P', cursive;
    font-size: 4rem;
    transition: all ease-in-out .5s;
    text-shadow: 0 0 0 #ffffff;
    animation: rainbow 4s infinite ease-in-out;
}

#start:hover {
    transform: scale(1.2);
    text-shadow: 0.2rem 0.2rem 0 #ffffff;
}

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}